/*   ----- Variables  -----  */
:root {
  --light-grey: #e3e6edcc;
  --medium-grey: #8d9ba4;
  --dark-grey: #515e66;
  --medium-green: #316eca;
  --dark-brown: #0f0704;
}

/*  ----- Page layout blocks -----  */
header {
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 84vh;
  margin: 18px;
}

footer {
  background-color: var(--medium-grey);
  color: var(--dark-brown);
  padding: 1px 9px;
  border-top: 1px solid var(--dark-brown);
}

footer p {
  margin: 3px;
}

/* ----- Anchors ----- Text links */
td svg,
a:hover,
a:link,
a {
  cursor: pointer;
}

a:link,
a {
  cursor: pointer;
  color: var(--medium-green);
}

/*  ----- Navigation ----- Override text links for navigation only.  */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 2%;
}

nav div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: var(--medium-green);
  padding: 12px 3%;
  font-weight: bold;
}

nav.main-nav a {
  margin: 0 1%;
  border-top: none;
  color: var(--medium-green);
}

nav.local {
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-around;
  border-bottom: solid 2px var(--medium-green);
  border-top: none;
}

nav.local a {
  text-decoration: none;
  color: var(--medium-green);
  padding: 5px 25px;
  border-radius: 5px 5px 0 0;
}

nav a:hover {
  cursor: pointer;
}

/*  -----  Typography  ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Black', sans-serif;
  color: var(--dark-brown);
}

/*  ----- Form ----- */
form {
  color: var(--medium-green);
  padding: 10px;
  border-radius: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 550px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

legend {
  color: var(--medium-green);
}

label {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  text-align: left;
}

td {
  border-bottom: 1px dashed var(--medium-green);
  height: 40px;
}

th {
  text-align: left;
}

tr {
  border-bottom: 1px dashed var(--medium-green);
  height: 40px;
}

button {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--medium-green);
  color: var(--light-grey);
  font-weight: bold;
  font-size: 16px;
}

::placeholder {
  color: var(--medium-green);
  opacity: 0.7;
}

input {
  padding: 10px;
  border: 2px solid var(--medium-green);
  margin: 2px;
}

select,
textarea,
input {
  padding: 10px;
  border: 2px solid var(--medium-green);
  margin: 2px;
  border-radius: 5px;
  color: var(--medium-green);
  width: 200px;
}

#header-logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 5px;
}

#header-logo-container {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3%;
}

.content-area {
  background-color: var(--light-grey);
  padding: 2% 9%;
  margin: 0 10%;
  border-radius: 5px;
  max-width: 1200px;
  min-width: 66%;
  min-height: 70vh;
  margin-bottom: 12px;
}

.active {
  font-size: 18px;
}

figure {
  border: solid 3px var(--medium-green);
  border-radius: 3px;
}

figcaption {
  padding: 0 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--medium-green);
}

#addBookingBtns {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

#addCourseBtn {
  position: relative;
  top: 3px;
  margin-right: 3px;
}

.dropDown {
  padding: 0px;
  background: #fff;
  border: 1px solid #999;
  margin: 0;
  color: #000;
  position: absolute;
  min-width: 225px;
  list-style: none;
  right: 0px;
  top: 65px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  z-index: 1;
}

#searchDropDown li {
  padding: 8px;
  border-bottom: 1px solid #777;
}

.settingsSidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
}

.settingsSidebar a {
  padding: 18px;
  text-decoration: none;
}

.settingsLayout {
  display: flex;
}

.settingsContent {
  width: 82%;
}
